@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }
}

@layer components {
  input, textarea {
    @apply border-gray-300 focus:ring-2 focus:ring-blue-500 focus:border-transparent block w-full shadow-sm text-sm rounded-lg transition-all duration-200 ease-in-out;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in {
  animation: fadeIn 1s ease-out;
}

.animate-fade-in-delay {
  animation: fadeIn 1s ease-out 0.5s both;
}

.animate-fade-in-delay-2 {
  animation: fadeIn 1s ease-out 1s both;
}